/* GENERAL */

@font-face {
    font-family: "Chaumont Script";
    src: local("Chaumont Script"),
        url("ChaumontScript-Regular.woff2") format("woff2"),
        url("ChaumontScript-Regular.woff") format("woff"),
        url("ChaumontScript-Regular.ttf") format("truetype");
}
:root {
    --color: #fff;
    --bg-color: #243853;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: crosshair;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--color);
}
a {
    color: var(--color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: var(--color);
    text-decoration: none;
}

/* BACKGROUND */

.grid {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    background-image:
      repeating-linear-gradient(var(--color) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, var(--color) 0 1px, transparent 1px 100%);
    background-size: 120px 120px;
    opacity: 0.3;
}

/* MENU */

.menu-bar {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    padding: 24px;
    color: var(--color);
    transition: 0.2s ease;
    user-select: none;
}
.menu-bar svg {
    width: 24px;
    height: 24px;
    fill: var(--color);
    transition: 0.2s ease;
}
.menu-bar svg:hover {
    transform: rotate(60deg);
}
.logo, .logo > a {
    display: flex;
    align-items: center;
}
.logo {
    padding-right: 24px;
}

/* MAIN CONTENT */

.main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-areas: 'text text text gallery gallery gallery gallery gallery';
}
.main-text {
    grid-area: text;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    padding: 120px 12px 48px 48px;
}
.text-frame {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.project-info {
    padding-bottom: 36px;
}
.marker {
    font-size: 18px;
    letter-spacing: 0.1em;
    opacity: 0.5;
    padding-bottom: 4px;
}
.tag {
    padding-bottom: 12px;
}
.project-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.text {
    display: flex;
    flex-direction: column;
}
.text p {
    line-height: 30px;
    padding-bottom: 12px;
}
.info.link {
    display: flex;
    flex-direction: column;
}
.main-gallery {
    grid-area: gallery;
    height: 100vh;
    display: flex;
    padding: 0 48px 0 12px;
}
.gallery {
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;    
}
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 6px;
    padding: 6px 0;
}
.main-text::-webkit-scrollbar,  .main-gallery::-webkit-scrollbar {
    display: none;
}
.main-text, .main-gallery {
    scrollbar-width: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px){
    :root {
        font-size: 18px;
    }
    .grid {
        background-size: 60px 60px;
    }
    .menu-bar {
        justify-content: space-between;
    }
    .main-content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 60px;
    }
    .project-info {
        padding-bottom: 12px;
    }
    .main-text {
        padding: 12px;
    }
    .marker {
        font-size: 12px;
    }
    .text {
        padding-bottom: 48px;
    }
    .text p {
        line-height: 24px;
        padding-bottom: 6px;
    }
    .main-gallery {
        height: fit-content;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .gallery {
        height: fit-content;
        overflow: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .gallery img {
        height: 33vh;
        width: auto;
    }
}
